<h1 class="text-center"><b>Daily Cash Up</b></h1>

<div id="DailyCashUp">

<div class="container-fluid" style="margin-top: 4%">
    <div class="row">
        <div class="col-lg-4 offset-4">
            <h2 class="text-center">List of Daily Cash Up </h2>
        </div> 
    </div>
</div>


<table class="table  table-striped">

    <thead>
        <th>Date</th>
        <th>Service Name</th>
        <th>Total Amount (R)</th>
    </thead>

    <tbody>
        
    </tbody>

</table>
</div>

<div class="col-md-2">
    <button mat-raised-button color="primary" (click)="openPDF()">Print</button>
  </div>
