<form class="controls-container" [formGroup]="addForm" (ngSubmit)="create()">
  <div mat-dialog-content>
    <div class="row">
      <div class="row">
        <!--     COLUMN 1 -->

        <div class="col-md-12">
          <h3 mat-dialog-title>Edit Shop</h3>
          <br />
          <div class="form-group">
            <label>Shop Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="mobile"
              placeholder="Shop Name"
              required
            />
          </div>
          <div class="form-group">
            <label>Manager Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="managerName"
              id="mobile"
              placeholder="Maanger"
              required
            />
          </div>
          <div class="form-group">
            <label>Location</label>
            <input
              type="text"
              class="form-control"
              formControlName="location"
              id="mobile"
              placeholder="Location"
              required
            />
          </div>
        </div>
      </div>
      <!--     SUBMIT -->
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">Add Shop</button>
    <button type="button" mat-raised-button color="primary" (click)="onClose()">
      Cancel
    </button>
  </div>
</form>
