<body>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card >
        <h1>Reset Password</h1>
          <mat-card-content>
            <div  style="width: 100%;">
              <mat-label>Email</mat-label>
              <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>
          </mat-card-content>
          <button mat-stroked-button color="primary" class="btn-block btn-warning" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
          <div class="formGroup">
          </div>
          <div class="redirectToLogin">
            <span>Go back to ? <span class="redirect" routerLink="/login">Log In</span></span>
          </div>
      </mat-card>

    </div>

</body>


