<div class="bg-red-400">
  <div class="p-6 rounded-lg shadow-lg bg-white max-w-full border-warn-600">
    <mat-card-title>Supporting Documents</mat-card-title>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
      <mat-card class="grid grid-cols-43 gap-4">
        <ng-container
          *ngFor="let file of _files$ | async as FileUpload"
          class="border-solid border-2 border-gray-600"
        >
          <app-upload-details [fileUpload]="file"></app-upload-details>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
