<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Customers</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-fluid">
      <h1 class="text-center"><b></b></h1>
      <br />

      <p>
        <mat-toolbar>
          <button
            mat-button
            style="background-color: rgb(3, 67, 67); color: white"
            (click)="Add()"
          >
            Add new Customer
          </button>
        </mat-toolbar>
      </p>
      <app-table [data]="employees" class="table table-striped">
        <ng-template #headers>
          <th>Name</th>
          <th>Surname</th>
          <th>Company</th>
          <th>MobilePhone</th>
          <th>Address</th>
        </ng-template>
        <ng-template #rows let-row>
          <td>{{ row.Name }}</td>
          <td>{{ row.Surname }}</td>
          <td>{{ row.Company }}</td>
          <td>{{ row.MobilePhone }}</td>
          <td>{{ row.Address }}</td>
          <td></td>
          <td></td>
          <td>
            <button
              mat-fab
              color="primary"
              aria-label=" edit icon"
              (click)="Edit(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>

          <td>
            <button
              mat-fab
              color="primary"
              aria-label=" delete icon"
              (click)="remove(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>
