<form
  class="controls-container"
  [formGroup]="addCForm"
  (ngSubmit)="createClient()"
>
  <div mat-dialog-content>
    <div class="row">
      <div class="row">
        <!--     COLUMN 1 -->

        <div class="col-md-6">
          <h3 mat-dialog-title>Eployee Detail s</h3>
          <br />
          <div class="form-group">
            <label>Employee Code</label>
            <input
              type="text"
              class="form-control"
              formControlName="EmployeeCode"
              id="mobile"
              placeholder="Code"
              required
            />
          </div>
          <div class="form-group">
            <label>Name</label>
            <div class="input-group form-inline">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  id="fname"
                  placeholder="First Name"
                  required
                />
              </div>
              <div class="form-group" style="margin-left: 0.5em">
                <input
                  type="text"
                  class="form-control"
                  formControlName="surname"
                  id="lname"
                  placeholder="Last Name"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>E-Mail</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Enter Email Id"
              required
            />
          </div>

          <div class="form-group">
            <label>Mobile Phone</label>
            <input
              type="number"
              class="form-control"
              formControlName="mobilePhone"
              id="altMobile"
              placeholder="Enter alternate contact number"
              required
              minlength="10"
              maxlength="10"
            />
          </div>
        </div>

        <!--     COLUMN 2 -->

        <div class="col-md-6">
          <h3 mat-dialog-title>Residential Address</h3>
          <br />

          <div class="form-group">
            <label>Address</label>
            <textarea
              class="form-control"
              formControlName="address"
              id="address"
              placeholder="Enter Address details"
              rows="4"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label>Zip/Postal Code</label>
            <input
              class="form-control"
              formControlName="postalCode"
              id="Postalcode"
              placeholder="Enter your 6 digit Postal code"
              type="number"
              minlength="6"
              maxlength="6"
              required
            />
          </div>

          <div class="form-group">
            <label>City</label>
            <input
              type="text"
              class="form-control"
              formControlName="city"
              id="city"
              placeholder="Enter City"
              required
            />
          </div>

          <div class="form-group">
            <label>Province</label>
            <input
              type="text"
              class="form-control"
              formControlName="province"
              id="province"
              placeholder="Enter Provicec"
              required
            />
          </div>

          <div class="form-group">
            <label>Notes</label><br />
            <textarea
              class="form-control"
              formControlName="notes"
              id="notes"
              placeholder="Enter notes"
              rows="4"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label>Shop</label><br />
            <mat-form-field appearance="fill">
              <mat-label>shop worker serves at</mat-label>
              <mat-select formControlName="shopId">
                <mat-option *ngFor="let shop of shops" [value]="shop.id">
                  {{ shop.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--     SUBMIT -->
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button class="btn btn-primary">
      Add Customer
    </button>
    <button
      type="button"
      mat-button
      class="btn btn-danger"
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
