<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <body id="page-top">
      <!-- Header-->
      <header>
        <div class="container px-4 text-center">
          <h1 class="fw-bolder">Welcome to Dry Clean City</h1>
        </div>
      </header>

      <!-- About section-->
      <section id="about">
        <div class="container px-4">
          <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
              <h2>About Us</h2>
              <p class="lead">
                Established 1997<br />
                Dry Clean City is a well-established Dry Cleaner, situated in
                the northern suburbs of Johannesburg. We specialise in Dry
                Cleaning, Laundry Services, Alterations and Shoe Repairs. Our
                dedicated management team and well-trained staff work hard and
                effortlessly to give our customers a great experience. We
                currently have three brick and mortar stores where we cater for
                our domestic clients. Our main store is located at Riverside
                shopping centre in Bryanston where we do all our dry cleaning
                and cater for our corporate and contract clients. We strive to
                deliver exceptional service, to ensure we sustain and grow our
                business. We continuously invest in training programs to ensure
                we can entrust ourselves to take good care of our customers.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Services section-->
      <section class="bg-light" id="services">
        <div class="container px-4">
          <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
              <h2>Services We Offer</h2>
              <ul>
                <li>Dry Cleaning</li>
                <li>Laundry</li>
                <li>Tailoring</li>
                <li>Shoe Repairs</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-s-9">
          <h1>The Company</h1>
          <p>
            Chania is the capital of the Chania region on the island of Crete.
            The city can be divided in two parts, the old town and the modern
            city.
          </p>
          <video width="100%" controls class="row gx-4 justify-content-center">
            <source src="mov_bbb.mp4" type="video/mp4" />
            <source src="mov_bbb.ogg" type="video/ogg" />
            Your browser does not support HTML5 video.
          </video>
        </div>
      </section>

      <section></section>

      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
    </body>
  </div>
</div>
